/* Estilos generales */
body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4; /* Fondo claro */
    color: #333; /* Color de texto */
    margin: 0;
    padding: 0;
  }
  
  h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Barra de navegación */
  .navbar {
    background-color: #2c3e50; /* Un azul oscuro */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ecf0f1;
  }
  
  .nav-link {
    color: #ecf0f1;
    font-size: 1.1rem;
  }
  
  .nav-link:hover {
    color: #f39c12; /* Color en hover */
  }
  
  /* Estilos para la pestaña activa */
  .navbar-nav .nav-item.active .nav-link {
    font-weight: bold; /* Negrita */
    color: #f39c12; /* Color del texto activo */
  }
  
  /* Sidebar */
  .card {
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px;
    overflow: hidden; /* Para asegurar que las imágenes no se salgan */
  }
  
  .card-img-top {
    width: 100%; /* La imagen ocupa todo el ancho */
    height: 250px; /* Establece una altura fija para las imágenes */
    object-fit: cover; /* Ajuste de imagen para que no se recorte, manteniendo la proporción */
    border-bottom: 1px solid #ddd; /* Línea debajo de la imagen */
  }
  
  .card-body {
    padding: 15px;
    background-color: #fff; /* Fondo blanco para el cuerpo de la tarjeta */
    border-top: 1px solid #ddd; /* Línea encima del texto */
  }
  
  .card-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333; /* Color oscuro para el título */
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1.1rem;
    color: #555; /* Color gris para el texto de la descripción */
    margin-bottom: 15px;
  }
  
  .card-price {
    font-size: 1.3rem;
    font-weight: bold;
    color: #f39c12; /* Color de precio resaltado */
    margin-bottom: 15px;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-footer .btn-warning {
    background-color: #f39c12;
    border-color: #f39c12;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%; /* Hacemos que el botón ocupe todo el ancho de la tarjeta */
  }
  
  .card-footer .btn-warning:hover {
    background-color: #e67e22;
    border-color: #e67e22;
  }
  
  button:focus {
    outline: none;
  }
  
  /* Ajustes responsive */
  @media (max-width: 768px) {
    .col-md-4 {
      margin-bottom: 20px;
    }
  
    h2 {
      font-size: 1.8rem;
    }
  
    .navbar-nav {
      text-align: center;
    }
  
    .card-img-top {
      height: 200px;
    }
  
    .card-footer .btn-warning {
      width: 100%;
      text-align: center;
    }
  }
  